@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --purple:#814096;
    --pink:#F83292;
    --gradient:linear-gradient(90deg, var(--purple), var(--pink));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    list-style: none;
}
  body{
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
  }
  nav .logo{
    color: var(--purple);
    font-size: 24px;
    line-height: 70px;
    padding-left: 110px;
  }
  nav .logo span{
    color: var(--pink);
  }
  nav{
    height: 70px;
    background: #fff;
    box-shadow: 0 3px 15px rgba(0,0,0,0.5);
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color:var(--purple);
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #fff;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: var(--pink);
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 1.5px solid#E90064;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #A31ACB;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
